extends ../layouts/main-layout.pug

block styles
    link(rel="stylesheet", href="/css/admin.css")

block content
    .admin
        form.row(action="/admin/editproduct", method="post")
            .column
                label(for="book-name") Name of the Book
                input(type="text", name="name" id="name" , value = `${prod.name}`)
            .column
                label(for="price") Price
                input(type="text", name="price" id="price" ,value = `${prod.price}`)
            .column
                label(for="author") Author
                input(type="text", name="author" id="author" ,value = `${prod.author}`)
            .column
                label.display-text(for="description") Description
                textarea(name="description", cols="24", rows="4" id="description") #{prod.description}        
            .column
                label(for="isbn") ImageURL
                input(type="text", name="image" id="image" , value = `${prod.image}`)
                input(type="hidden", name="id", value = `${prod.id}`)
            .column
                button.addbtn.btn-success(type="submit") Save
                    